<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
Введите данные для редактирования:
<br>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">

    <label for="email">Почта пользователя:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color: brown" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Ошибка почты</div>
    <br>

    <label for="password">Пароль пользователя:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color: brown" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Ошибка пароля</div>
    <br>

    <label for="name">Имя пользователя:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: brown" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Ошибка имени</div>
    <br>

    <label for="lastname">Фамилия пользователя:</label>
    <input type="text" th:field="*{lastName}" id="lastname"/>
    <div style="color: brown" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Ошибка фамилии</div>
    <br>

    <label for="age">Возраст пользователя:</label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color: brown" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Ошибка возраста</div>
    <br>

    <input type="submit" value="Изменить пользователя"/>
</form>

<br>
<hr>
<a href="/admin">Вернуться к списку пользователей</a>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>
</body>
</html>