<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="text-white text-left">
        <b th:text="${user.getEmail()}">Current user</b>
        with roles:
        <th:block th:each="aaa : ${user.getRoles()}">
            <t1 th:text="${aaa}">User Roles</t1>
        </th:block>
    </div>
    <div class="text-white text-right">
        <form th:action="@{/logout}" method="post">
            <input class="form-control-plaintext text-secondary" type="submit" value="Logout"/>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row ">
        <div class="col-2">
            <p></p>
            <th:block th:each="aaa : ${user.getRoles()}">
                <div th:switch="${aaa.toString()}">
                    <div th:case="'ADMIN'">
                        <a href="/admin" class="btn btn-primary btn-block text-left disabled" tabindex="-1"
                           role="button">ADMIN</a>
                    </div>
                </div>
            </th:block>
            <a href="/user" class="btn btn-link btn-block text-left" role="button"
               aria-disabled="true">USER</a>
        </div>

        <div class="col-10 bg-light">

            <h1 class="p-2">Admin panel</h1>
            <div class="container-fluid">

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/new">New User</a>
                    </li>
                </ul>

                <div class="card">
                    <div class="card-header">
                        <h4>All users</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Roles</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <div th:each="thisUser : ${users}">
                                <tr>
                                    <td th:text="${thisUser.getId()}">ID</td>
                                    <td th:text="${thisUser.getName()}">First Name</td>
                                    <td th:text="${thisUser.getLastName()}">Last Name</td>
                                    <td th:text="${thisUser.getAge()}">Age</td>
                                    <td th:text="${thisUser.getEmail()}">Email</td>
                                    <td th:text="${thisUser.getRoles()}">Roles</td>
                                    <td>

                                        <button type="button" class="btn btn-info" data-toggle="modal"
                                                th:attr="data-target='#editModal' + ${thisUser.getId()}">Edit
                                        </button>

                                        <form th:method="PATCH" th:action="@{/admin/{id}(id=${thisUser.getId()})}">

                                            <div class="modal fade" th:id="'editModal' + ${thisUser.getId()}"
                                                 tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                                                <div class="modal-dialog modal-dialog-centered" role="document">

                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Edit
                                                                user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">

                                                            <div class="row justify-content-center">
                                                                <div class="col-10">

                                                                    <div class="mb-3 text-center">
                                                                        <label for="name"
                                                                               class="form-label font-weight-bold">First
                                                                            name</label>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${thisUser.name}"
                                                                               id="firstName" name="name"/>
                                                                    </div>

                                                                    <div class="form-group text-center">
                                                                        <label for="lastName"
                                                                               class="form-label font-weight-bold">Last
                                                                            name</label>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${thisUser.lastName}"
                                                                               id="secondName" name="lastName">
                                                                    </div>

                                                                    <div class="form-group text-center">
                                                                        <label for="Age"
                                                                               class="form-label font-weight-bold">Age</label>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${thisUser.age}"
                                                                               id="Age" name="Age">

                                                                    </div>

                                                                    <div class="form-group text-center">
                                                                        <label for="Email"
                                                                               class="form-label font-weight-bold">Email</label>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${thisUser.email}"
                                                                               id="Email" name="Email">
                                                                    </div>

                                                                    <div class="form-group text-center">
                                                                        <label for="password"
                                                                               class="form-label font-weight-bold">Password</label>
                                                                        <input type="password" class="form-control"
                                                                               th:value="${thisUser.password}"
                                                                               id="password" name="password">
                                                                        <br/>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="font-weight-bold"
                                                                               for="selectRoles">Role</label>
                                                                        <select multiple size="2" class="form-control"
                                                                                id="selectRoles" name="userRolesID">
                                                                            <option th:each="role : ${roles}"
                                                                                    th:value="${role.getId()}"
                                                                                    th:text="${role}">
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary"
                                                                    value="Update">Edit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                th:attr="data-target='#deleteModal' + ${thisUser.getId()}">Delete
                                        </button>

                                        <form th:method="DELETE" th:action="@{/admin/{id}(id=${thisUser.getId()})}">
                                            <div class="modal fade" th:id="'deleteModal' + ${thisUser.getId()}"
                                                 tabindex="-1" role="dialog"
                                                 aria-labelledby="ModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">

                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="ModalLongTitle">DELETE user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">

                                                            <div class="form-group text-center">
                                                                <label class="font-weight-bold" for="name">First
                                                                    name</label>
                                                                <input class="form-control" type="text"
                                                                       th:value="*{thisUser.name}" id="name" readonly/>
                                                            </div>

                                                            <div class="form-group text-center">
                                                                <label class="font-weight-bold" for="lastname">Last
                                                                    name</label>
                                                                <input class="form-control" type="text"
                                                                       th:value="*{thisUser.lastName}" id="lastname"
                                                                       readonly/>
                                                            </div>

                                                            <div class="form-group text-center">
                                                                <label class="font-weight-bold" for="age1">Age</label>
                                                                <input class="form-control" type="text"
                                                                       th:value="*{thisUser.age}" id="age1" readonly/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="font-weight-bold"
                                                                       for="email1">Email</label>
                                                                <input class="form-control" type="text"
                                                                       th:value="*{thisUser.email}" id="email1"
                                                                       readonly/>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="font-weight-bold"
                                                                       for="password1">Password</label>
                                                                <input class="form-control" type="password"
                                                                       th:value="*{thisUser.password}" id="password1"
                                                                       readonly/>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="font-weight-bold"
                                                                       for="selectRoles1">Role</label>
                                                                <select multiple size="2" class="form-control"
                                                                        id="selectRoles1" readonly>
                                                                    <th:block th:each="role : ${thisUser.getRoles()}">
                                                                        <option th:text="${role}">newRoles</option>
                                                                    </th:block>
                                                                </select>
                                                            </div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-danger" value="Delete">
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>

                                    </td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>